@keyframes staffUsernameAnimation {
    0% { background-position: 0% }
    100% { background-position: -100% }
}

.msg .radiantemote {
    max-width: 5em;
    max-height: 3em;
}

#chat .msg .from.staff .icon,
#chat .msg .from.dj .icon,
#user-rollover .info .role .icon,
    /* Must specify individually so upvote / downvotes dont get messed up. */
#user-lists .list.room .user.is-staff .icon-chat-host,
#user-lists .list.room .user.is-staff .icon-chat-cohost,
#user-lists .list.room .user.is-staff .icon-chat-manager,
#user-lists .list.room .user.is-staff .icon-chat-bouncer,
#user-lists .list.room .user.is-staff .icon-chat-dj,
#waitlist .list .user .is-staff .name .icon.icon-chat-host,
#waitlist .list .user .is-staff .name .icon.icon-chat-cohost,
#waitlist .list .user .is-staff .name .icon.icon-chat-manager,
#waitlist .list .user .is-staff .name .icon.icon-chat-bouncer,
#waitlist .list .user .is-staff .name .icon.icon-chat-dj {
    background-size: 100% 100% !important;
}

.is-staff .name,
#chat .from.staff .un,
#chat .from.dj .un {

    background: linear-gradient(90deg, #ac76ff, #d29de8, #ac76ff, #d29de8, #ac76ff);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 13px;
    font-weight: bold;
    animation: staffUsernameAnimation 2s linear infinite;
}

/* Prevent waitlist names from being invisible. */
#waitlist .is-staff .name {
    color: #ac76ff;
}
