/* Transpiled from RoomSCSS */
#chat .msg .from .icon-chat-subscriber, #chat .msg .from.staff .icon, #chat .msg .from.dj .icon, #user-rollover .info .role .icon, #user-lists .list.room .user.is-staff .icon, #waitlist .list .user .is-staff .name .icon {
    background-size: 100% 100% !important;
    width: 17px;
    height: 17px;
}
#waitlist .is-staff .name {
    color: #ac76ff;
}
#chat-messages .id-51109738 {
    color: #ebb8ff;
    white-space: pre-wrap;
}
#waitlist .list .user .name .icon.icon-chat-subscriber, #user-lists .list.room .user .icon.icon-chat-subscriber {
    background-size: 100% 100% !important;
}
.icon.icon-woot, .icon.icon-meh, #user-lists .list.room .user.is-staff .icon.icon-woot, #user-lists .list.room .user.is-staff .icon.icon-meh {
    margin: 5px;
    width: 20px;
    height: 20px;
    background-position: initial;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
}
.icon.icon-woot {
    background-image: url(https://i.imgur.com/Lf43tna.png);
}
.icon.icon-meh {
    background-image: url(https://i.imgur.com/85E8Zm1.png);
}
.msg .radiantemote {
    max-width: 6em;
    max-height: 3em;
}
.fa-thumbs-up {
    background: url(https://i.imgur.com/XLAJPkN.png);
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
}
.clicked .fa-thumbs-up {
    background: url(https://i.imgur.com/Lf43tna.png);
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
}
.fa-thumbs-down {
    background: url(https://i.imgur.com/FwBV4PY.png);
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
}
.clicked .fa-thumbs-down {
    background: url(https://i.imgur.com/85E8Zm1.png);
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
}
.icon-list {
    background: url(https://i.imgur.com/evqyBe9.png);
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
}
.clicked .icon-list {
    background: url(https://i.imgur.com/ddNyyGs.png);
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
}
.fa-thumbs-down:before, .fa-thumbs-up:before, .icon-list:before {
    content: "";
}
.community .btn-room-controls.btn-like, .community .btn-room-controls.btn-meh, .community .btn-room-controls.btn-playlist {
    padding: 0px;
}
.item--mobile .btn-room-controls.btn-meh .fa-thumbs-down {
    margin: 8px 0px 0px 0px;
}
.item--mobile .btn-room-controls.btn-like .fa-thumbs-up {
    margin: 4px 0px 0px 0px;
}
.item--mobile .btn-room-controls.btn-playlist .icon-list {
    margin: 0px 0px 0px 4px;
}
.community .room-controls--desktop {
    background-color: rgba(0, 0, 0, .85);
}
.community .room-controls {
    z-index: 1 !important;
}
div #meh-rs, div #like-rs, div #grab-rs {
    background-color: rgba(0, 0, 0, 0.85);
}
@keyframes scrollingBackground {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 100%;
    }
}
@keyframes shadowAnimation {
    0% {
        text-shadow: 0px 0px 2px #25a2fb, 0px 0px 2px #25a2fb, 0px 0px 2px #25a2fb, 0px 0px 2px #25a2fb;
    }
    50% {
        text-shadow: 0px 0px 2px #6d78ff, 0px 0px 2px #6d78ff, 0px 0px 2px #6d78ff, 0px 0px 2px #6d78ff;
    }
    100% {
        text-shadow: 0px 0px 2px #25a2fb, 0px 0px 2px #25a2fb, 0px 0px 2px #25a2fb, 0px 0px 2px #25a2fb;
    }
}
@keyframes callumShadowAnimation {
    0% {
        text-shadow: 0px 0px 2px #ffdf00, 0px 0px 2px #ffdf00, 0px 0px 2px #ffdf00, 0px 0px 2px #ffdf00;
    }
    50% {
        text-shadow: 0px 0px 2px #caa429, 0px 0px 2px #caa429, 0px 0px 2px #caa429, 0px 0px 2px #caa429;
    }
    100% {
        text-shadow: 0px 0px 2px #ffdf00, 0px 0px 2px #ffdf00, 0px 0px 2px #ffdf00, 0px 0px 2px #ffdf00;
    }
}
@keyframes coltahhhShadowAnimation {
    0% {
        text-shadow: 0px 0px 2px #03a9f4, 0px 0px 2px #03a9f4, 0px 0px 2px #03a9f4, 0px 0px 2px #03a9f4;
    }
    50% {
        text-shadow: 0px 0px 2px #f0f, 0px 0px 2px #f0f, 0px 0px 2px #f0f, 0px 0px 2px #f0f;
    }
    100% {
        text-shadow: 0px 0px 2px #03a9f4, 0px 0px 2px #03a9f4, 0px 0px 2px #03a9f4, 0px 0px 2px #03a9f4;
    }
}
.is-staff .name, #chat .from.staff .un, #chat .from.dj .un {
    background: repeating-linear-gradient(90deg, #ac76ff, #d29de8, #ac76ff 50%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 13px;
    font-weight: bold;
    background-size: 200% 100%;
    animation: scrollingBackground 3s linear infinite;
}
.is-staff.id-50228093 .name, #chat .id-50228093 .from.staff .un, #chat .id-50228093 .from.dj .un {
    background: repeating-linear-gradient(90deg, #d2227a, #ff49a5, #ff0080, #ff49a5, #d2227a 71.4285714286%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 13px;
    font-weight: bold;
    background-size: 350% 100%;
    animation: scrollingBackground 3s linear infinite;
}
.is-staff.id-51381057 .name, #chat .id-51381057 .from.staff .un, #chat .id-51381057 .from.dj .un {
    color: black;
    background: initial;
    -webkit-background-clip: initial;
    animation: shadowAnimation 5s linear infinite;
}
.is-staff.id-50365379 .name, #chat .id-50365379 .from.staff .un, #chat .id-50365379 .from.dj .un {
    background: repeating-linear-gradient(90deg, #e03434, #e8972c, #e5e82c, #2ce832, #91bfff, #df86f7, #e03434 80%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 13px;
    font-weight: bold;
    background-size: 500% 100%;
    animation: scrollingBackground 7s linear infinite;
}
.is-staff.id-50601445 .name, #chat .id-50601445 .from.staff .un, #chat .id-50601445 .from.dj .un {
    background: repeating-linear-gradient(90deg, #3cb556, #a0daff, #3cb556 66.6666666667%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 13px;
    font-weight: bold;
    background-size: 300% 100%;
    animation: scrollingBackground 2s linear infinite;
}
.is-staff.id-40990226 .name, #chat .id-40990226 .from.staff .un, #chat .id-40990226 .from.dj .un {
    background: repeating-linear-gradient(90deg, #0ff, #0cc, #008585, #0cc, #0ff 71.4285714286%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 13px;
    font-weight: bold;
    background-size: 350% 100%;
    animation: scrollingBackground 2s linear infinite;
}
.is-staff.id-50599320 .name, #chat .id-50599320 .from.staff .un, #chat .id-50599320 .from.dj .un {
    background: repeating-linear-gradient(90deg, #70dc70, #32cd32, #239023, #32cd32, #70dc70 71.4285714286%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 13px;
    font-weight: bold;
    background-size: 350% 100%;
    animation: scrollingBackground 2s linear infinite;
}
.is-staff.id-40570213 .name, #chat .id-40570213 .from.staff .un, #chat .id-40570213 .from.dj .un {
    background: repeating-linear-gradient(90deg, #ff73d3, #ff3939, #ff9152, #ffc63e, #ff9152, #ff3939, #ff73d3 85.7142857143%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 13px;
    font-weight: bold;
    background-size: 700% 100%;
    animation: scrollingBackground 6s linear infinite;
}
.is-staff.id-53065252 .name, #chat .id-53065252 .from.staff .un, #chat .id-53065252 .from.dj .un {
    color: rgba(255, 255, 255, 0.37);
    font-size: 13px;
    animation: coltahhhShadowAnimation 4s cubic-bezier(0.55, 0.24, 1, 1) infinite;
}
.is-staff.id-52171196 .name, #chat .id-52171196 .from.staff .un, #chat .id-52171196 .from.dj .un {
    color: #b90e0a;
    background: initial;
    -webkit-background-clip: initial;
    animation: callumShadowAnimation 3s ease-in-out infinite;
}
.is-staff.id-52250250 .name, #chat .id-52250250 .from.staff .un, #chat .id-52250250 .from.dj .un {
    background: repeating-linear-gradient(90deg, red, blue, red 71.4285714286%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 13px;
    font-weight: bold;
    background-size: 350% 100%;
    animation: scrollingBackground 4s linear infinite;
}
.is-staff.id-45709913 .name, #chat .id-45709913 .from.staff .un, #chat .id-45709913 .from.dj .un {
    background: repeating-linear-gradient(90deg, #ea5b5b, red, #9e0000, red, #ea5b5b 71.4285714286%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 13px;
    font-weight: bold;
    background-size: 350% 100%;
    animation: scrollingBackground 3s linear infinite;
}
