@font-face{
  font-family: 'JetBrains Mono';
  src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.eot') format('embedded-opentype'),
  url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2'),
  url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff') format('woff'),
  url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#chat .msg .from .icon-chat-subscriber,
#chat .msg .from.staff .icon,
#chat .msg .from.dj .icon,
#user-rollover .info .role .icon,
#user-lists .list.room .user.is-staff .icon,
#waitlist .list .user .is-staff .name .icon {
  background-size: 100% 100% !important;
  width: 17px;
  height: 17px;
}

// Prevent waitlist names from being invisible.
#waitlist .is-staff .name {
  color: #ac76ff;
}

#waitlist .list .user .name .icon.icon-chat-subscriber,
#user-lists .list.room .user .icon.icon-chat-subscriber {
  background-size: 100% 100% !important;
}

.icon.icon-woot, .icon.icon-meh,
#user-lists .list.room .user.is-staff .icon.icon-woot,
#user-lists .list.room .user.is-staff .icon.icon-meh {
  margin: 5px;
  width: 20px;
  height: 20px;
  background-position: initial;
  background-size: 100% 100% !important;
  background-repeat: no-repeat;
}

.icon.icon-woot {
  background-image: url(https://i.imgur.com/Lf43tna.png)
}

.icon.icon-meh {
  background-image: url(https://i.imgur.com/85E8Zm1.png)
}

// Limit size of emotes so we dont have to worry about finding / creating properly sized ones
.msg .radiantemote {
  max-width: 6em;
  max-height: 3em;
}

@mixin voteButtonMixin {
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
}

.fa-thumbs-up {
  background: url(https://i.imgur.com/XLAJPkN.png);
  @include voteButtonMixin;
}

.clicked .fa-thumbs-up {
  background: url(https://i.imgur.com/Lf43tna.png);
  @include voteButtonMixin;
}

.fa-thumbs-down {
  background: url(https://i.imgur.com/FwBV4PY.png);
  @include voteButtonMixin;
}

.clicked .fa-thumbs-down {
  background: url(https://i.imgur.com/85E8Zm1.png);
  @include voteButtonMixin;
}

.icon-list {
  background: url(https://i.imgur.com/evqyBe9.png);
  @include voteButtonMixin;
}

.clicked .icon-list {
  background: url(https://i.imgur.com/ddNyyGs.png);
  @include voteButtonMixin
}

// Upvote / Downvote / Grab symbols are actually text. Remove this so the background can be used for the custom symbols.
.fa-thumbs-down:before,
.fa-thumbs-up:before,
.icon-list:before {
  content: "";
}

// Positions the icons on the mobile version near the center of the circle.
.community .btn-room-controls.btn-like,
.community .btn-room-controls.btn-meh,
.community .btn-room-controls.btn-playlist {
  padding: 0px;
}

// Move the icons slightly on the mobile version so they are more centered in the circle.
.item--mobile .btn-room-controls.btn-meh .fa-thumbs-down {
  margin: 8px 0px 0px 0px;
}

.item--mobile .btn-room-controls.btn-like .fa-thumbs-up {
  margin: 4px 0px 0px 0px;
}

.item--mobile .btn-room-controls.btn-playlist .icon-list {
  margin: 0px 0px 0px 4px;
}

// Darken controls so the up / downvote icons are more visible.
.community .room-controls--desktop {
  background-color: rgba(0, 0, 0, .85);
}

// Make RCS like / dislike / grab lists render above avatars.
.community .room-controls {
  z-index: 1 !important;
}

// Make RCS like / dislike / grab lists easier to see.
div #meh-rs,
div #like-rs,
div #grab-rs {
  background-color: rgba(0, 0, 0, 0.85);
}

// =========================================
//        Bot CSS
// =========================================

// Allow the bot to use newline characters for formatting and make its text stand out.
// Use monospace font for nice formatting
#chat #chat-messages .id-51109738 {
  color: #ebb8ff;
  white-space: pre-wrap;
  font-family: 'JetBrains Mono', monospace !important;
  font-size: 11px !important;
  tab-size: 4;

  .name {
    font-size: 11px !important;
  }
}

@keyframes botMention {
  0% {
    border-top: 2px solid #ffbcff;
    border-bottom: 2px solid #ffbcff;
  }
  100% {
    border-top: 2px solid magenta;
    border-bottom: 2px solid magenta;
  }
}

// Remove badge from bot
#chat .cm.id-51109738 .badge-box {
  display: none;
}

// Remove bot name
#chat .cm.id-51109738 .from {
  display: none;
}

// Allow text to fill space where badge was
#chat .id-51109738 .msg {
  padding-left: 8px;
}

// Give mentions animation for visibility
// We also use emotes for a sort of broadcast with mention styling.
#chat .cm.mention.id-51109738,
#chat .cm.emote.id-51109738 {
  animation: botMention 1s linear forwards;
  background-image: None;
  background-color: #090009 !important;
  min-height: 0;
}

// Non mentions from bot are less visible than mentions
#chat .cm.message.id-51109738 {
  border-top: 1px solid #4e024e;
  border-bottom: 1px solid #4e024e;
  background-color: #060006 !important;
  min-height: 0;
}

// =========================================
//        Staff Animation CSS
// =========================================

$rainbowLoop: #e03434 #e8972c #e5e82c #2ce832 #91bfff #df86f7 #e03434;

@keyframes scrollingBackground {
  0% { background-position: 0 }
  100% { background-position: 100% }
}

// Seems something like this will only work for "reversed" looking animations.
// Regular ones might require custom calculated ending keyframes instead of custom gradient repeat location.
@mixin scrollingBackgroundAnimation($duration, $gradientWidth, $colors) {

  background: repeating-linear-gradient(90deg, #{join($colors, $separator: comma)} percentage($gradientWidth / ($gradientWidth + 100)));
  -webkit-background-clip: text;
  color: transparent;
  font-size: 13px;
  font-weight: bold;
  background-size: $gradientWidth + 100 + "%" 100%;
  animation: scrollingBackground $duration linear infinite;
}

@mixin heavyTextShadow($x, $y, $blur, $color) {
    text-shadow: $x $y $blur $color, $x $y $blur $color, $x $y $blur $color, $x $y $blur $color;
}

@mixin staffAnimation($id) {

  .is-staff.id-#{$id} .name,
  #chat .id-#{$id} .from.staff .un,
  #chat .id-#{$id} .from.dj .un {
    @content
  }
}

@keyframes shadowAnimation {

  0% { @include heavyTextShadow(0px, 0px, 2px, #25a2fb) }
  50% { @include heavyTextShadow(0px, 0px, 2px, #6d78ff) }
  100% { @include heavyTextShadow(0px, 0px, 2px, #25a2fb) }
}

@keyframes callumShadowAnimation {

  0% { @include heavyTextShadow(0px, 0px, 2px, #ffdf00) }
  50% { @include heavyTextShadow(0px, 0px, 2px, #caa429) }
  100% { @include heavyTextShadow(0px, 0px, 2px, #ffdf00) }
}

@keyframes coltahhhShadowAnimation {
  0% { @include heavyTextShadow(0px, 0px, 2px, #03A9F4) }
  50% { @include heavyTextShadow(0px, 0px, 2px, #f0f) }
  100% { @include heavyTextShadow(0px, 0px, 2px, #03A9F4) }
}

.is-staff .name,
#chat .from.staff .un,
#chat .from.dj .un {

    @include scrollingBackgroundAnimation(3s, 100, #ac76ff #d29de8 #ac76ff);
}

// Shae Animation
@include staffAnimation(50228093) {
  @include scrollingBackgroundAnimation(3s, 250, #d2227a #ff49a5 #ff0080 #ff49a5 #d2227a)
}

// Camgaroo Animation
@include staffAnimation(51381057) {
  color: black;
  background: initial;
  -webkit-background-clip: initial;
  animation: shadowAnimation 5s linear infinite;
}

// Ireland Animation
@include staffAnimation(50365379) {
  @include scrollingBackgroundAnimation(7s, 400, $rainbowLoop);
}

// Phonon Animation
@include staffAnimation(50601445) {
  @include scrollingBackgroundAnimation(2s, 200, #3cb556 #a0daff #3cb556);
}

// Stxph Animation
@include staffAnimation(40990226) {
  @include scrollingBackgroundAnimation(2s, 250, #00ffff #00cccc #008585 #00cccc #00ffff);
}

// Jair Animation
@include staffAnimation(50599320) {
  @include scrollingBackgroundAnimation(2s, 250, #70dc70 #32cd32 #239023 #32cd32 #70dc70);
}

// Lex Animation
@include staffAnimation(40570213) {
  @include scrollingBackgroundAnimation(6s, 600, #ff73d3 #ff3939 #ff9152 #ffc63e #ff9152 #ff3939 #ff73d3);
}

// Callum Animation
@include staffAnimation(52171196) {
  color: #b90e0a;
  background: initial;
  -webkit-background-clip: initial;
  animation: callumShadowAnimation 3s ease-in-out infinite;
}

// Ben Animation
@include staffAnimation(52250250) {
  @include scrollingBackgroundAnimation(4s, 250, red blue red);
}

// Jxmes Animation
@include staffAnimation(45709913) {
  @include scrollingBackgroundAnimation(3s, 250, #ea5b5b red #9e0000 red #ea5b5b);
}

// Ofifyy Animation
@include staffAnimation(52204355) {
  @include scrollingBackgroundAnimation(3s, 250, #d2227a #ff49a5 #ff0080 #ff49a5 #d2227a)
}

// Colt Animation
@include staffAnimation(53065252) {
  color: rgba(255, 255, 255, 0.37);
  font-size: 13px;
  animation: coltahhhShadowAnimation 4s cubic-bezier(0.55, 0.24, 1, 1) infinite;
}
